In [3]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import GridSearchCV
import sklearn as svm
import matplotlib.pyplot as plt

# Upload Data

In [4]:
df = pd.read_csv("D:\Virtual Programs\Oasis Internship\spam.csv", encoding = 'latin1')

# Rename Columns

In [5]:
df= df.rename(columns={'v1': 'Target','v2':'EmailText'})

In [6]:
df.head()
#df=df.drop(columns=["Unnamed: 0"])

  Target                                          EmailText
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

# Clean Dataset

In [7]:
# remove duplicates from dataset 
df.drop_duplicates()
    
# remove rows with any null values
df.dropna(axis=0)

# remove columns with any null values
df.dropna(axis=1)

     Target                                          EmailText
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
df.shape

(5572, 2)

In [9]:
df['Spam']=df['Target'].apply(lambda x:1 if x=='spam' else 0)
df.head(5)

  Target                                          EmailText  Spam
0    ham  Go until jurong point, crazy.. Available only ...     0
1    ham                      Ok lar... Joking wif u oni...     0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3    ham  U dun say so early hor... U c already then say...     0
4    ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
df.columns

Index(['Target', 'EmailText', 'Spam'], dtype='object')

# Split & Train model with data set

In [11]:
from sklearn.model_selection import train_test_split 

y =df['Target']
x =df['EmailText']

x_train,  x_test, y_train , y_test = train_test_split(x,y,test_size=0.4, random_state=42)

In [12]:
print(df.dtypes)

Target       object
EmailText    object
Spam          int64
dtype: object

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.naive_bayes import MultinomialNB

In [14]:
# cv = CountVectorizer()
# features = cv.fit_transform(y_train)

In [15]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [16]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

# Model Predictions

In [17]:
emails=[
    'Sounds great! Are you home now?',
    'Will u meet ur dream partner soon? Is ur career off 2 a flyng start? 2 find out free, txt HORO followed by ur star sign, e. g. HORO ARIES'
   
]

In [18]:
clf.predict(emails)

array(['ham', 'spam'], dtype='<U4')

In [19]:
clf.score(x_test,y_test)

0.9834006280843428